.application{
    display: flex;
    
    flex-direction: column;
    height: 100vh;
    background: url("https://cdn.pixabay.com/photo/2019/03/23/21/36/geometric-4076402_960_720.png");
    background-size: cover;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
}

h1{
    text-shadow: 2px;
    font-size: 36px;
    margin-left: 20px;
}
h2{
  font-size: 24px;
  text-decoration:underline;
  text-shadow: 5px;
  margin-left: 30px;
}
h2:hover{
    color: brown;
}
.application-title{
    display: flex;
    align-items: center;
}
.application-detail{
    border: 1px solid rgb(137, 92, 241);
    margin-left: 20px;
    margin-right: 20px;
}
