details-page{
    margin:  40px;
    display: flex;
    align-items: center;
    justify-content:left;

}
img{
    border-radius: 30%;
}

.details{
    margin-left: 40px;
}
.movie-details{
    border-bottom: 1px solid rgb(61, 114, 226);
    padding: 10px;
}
.bold{
    font-size: 24px;
    font-weight: bold;
}

.normal{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}